.hidden {display:none;}
.border {border:solid 1px #111111;}
.focus {border:solid 2px blue}
.grouped-on {
    border-style:solid;
    border-width: 3px;
    border-color: red;
}
.grouped-off {
    border-style:solid;
    border-width: 3px;
    border-color: white;
}
.focus {
    border-style:solid;
    border-width: 3px;
    border-color: blue;
}